<html>
	<h1>		 
        Accounts           
	</h1>

{{range $index,$element := .accounts}}    
    <h2>
        {{$element.Origin_data}}
    </h2>
    <table>
    <tr>
        <th>Account</th>
        <th>Status</th>
    </tr>

    {{range $accountStatus := $element.Accounts}}
     <tr>
        <td>{{$accountStatus.AccountNumber}}</td>
        <td>{{$accountStatus.Status}}</td>
    </tr> 
        

    {{end}}

   
   
</table>
<hr>
{{end}}

<style>
table, th, td {
  border: 1px solid black;
}
</style>
</html>

